<div class="container">
    
<h1>QUOTES</h1>
    <button (click) = 'goalDelete(true)'class="btn btn-inf-lg"> Delete Goal </button>


<div class="card" style="width:100%">
  
  
  <div class= "quote" *ngFor='let quote of quotes;let i =index'>
      
   <p>{{quote.quoteText}}</p>
   <p>{{quote.author}}</p>
   <p>{{quote.name}}</p>
   <p> {{quote.completeDate|date}} </p>
 
  <button style="float:right" (click)='thumbsUp()' class="btn btn-info btn">Like {{upvote}} </button>

  <button style="float:right" (click)='thumbsDown()' class="btn btn-info btn">Dislike {{downvote}}</button>

</div>






</div>  
<h2>CREATE YOUR OWN QUOTE</h2>

<app-quote-form (addQuote)='addQuote($event)'></app-quote-form>



</div>

