body{
    background-image: url("../quote.jpg");
    background-attachment: fixed;
}
.quote{
    border:1px solid black;
    margin:5px;
    padding:10px;
}
h1{
    text-align: center;
    color: antiquewhite;
    font-family: 'Cormorant Unicase', serif;
    font-size: 80px;

}
.card{
    font-family: 'Special Elite', cursive;

}
h2{
    text-align: center;
    color: antiquewhite;
    font-family: 'Cormorant Unicase', serif;

}